 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 header, main, footer {
    margin: auto;
    width: 80%;
    /* padding: 100px 100px; */
    height: 200px;
 }
 header {
     background-color: #5151b8;
     position: relative;
 }
 main {
     background-color: #0fe02b;
 }
footer {
    background-color: #ffd900;
    position: relative;
}
img {
    height: 150px;
    position: absolute;
    bottom: 5px; 
    right: 50px;
}
footer img {
    height: 150px;
    position: absolute;
    top: -70px; 
    right: 50px;
}
